@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-background: 255 255 255;
		--color-foreground: 0 0 0;
		--color-accent: 191 143 60;
	}
}

:root {
	background-color: rgb(var(--color-background));
	color: rgb(var(--color-foreground));
	color-scheme: light;
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
	min-width: 0px;
	min-height: 0px;
}

::selection {
	background-color: rgb(var(--color-accent));
	color: rgb(var(--color-background));
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(var(--color-accent));
	border-radius: 2px;
}

::-webkit-scrollbar-track {
	background-color: rgb(var(--color-background));
}
::-webkit-scrollbar-corner {
	background-color: rgb(var(--color-background));
}
