---
import Layout from "../layouts/Layout.astro"
import Button from "../components/Button.astro"
import Features from "../components/Features.astro"
---

<Layout>
	<section id="hero" class="flex h-lvh items-center justify-center">
		<div class="my-auto h-fit max-w-5xl p-4 sm:flex sm:justify-between">
			<dev class="">
				<h1 class="block">
					<img src="/lettering.svg" alt="DineUp" class="mb-4 h-16 w-auto" aria-valuetext="DineUp" />
				</h1>
				<p class="text-lg">Digitalisierung Ihrer Gastronomie.</p>
				<p class="text-lg">Entlastung Ihrer Mitarbeiter.</p>
				<p class="text-lg">Vereinfachte Abl채ufe f체r Ihre G채ste.</p>
				<p class="text-lg">Steigerung Ihrer Ums채tze.</p>
				<Button href="/contact">Partner werden</Button>
			</dev>
			<div class="flex h-auto max-w-3xl items-center justify-center sm:w-1/2 md:w-2/3">
				<img src="/hero-mock.webp" alt="App Vorschau" decoding="sync" loading="eager" />
			</div>
		</div>
	</section>

	<Features />
</Layout>
